@font-face {
  font-family: "Gilroy";
  font-style: normal;
	font-weight: 800;
  src: 
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: 
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Opensans";
 	font-style: normal;
  font-weight: 400;
  src: 
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Opensans";
 	font-style: normal;
  font-weight: 300;
  src: 
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

/*Общие стили*/

body {
  margin: 0;
  padding: 0;
  
  font-family: "Opensans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 10px 39px;
  position: relative;
  z-index: 100;
  
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}

.btn::before {
  content: "";
  background-color: #f0c52e;
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 8px;
  top: 40%;
  left: 0; 
  z-index: -1;
  transition: transform 0.2s linear;
}

.btn:hover::before,
.btn:focus::before {
  transform: scale(1, 5.5);
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

/*Шапка*/

.main-navigation {
  color: #000000;
  
  background-color: #f7e296;
}

.main-navigation ul {
  list-style: none;
}

.main-navigation a {
  color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-logo {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.main-header-logo {
  color: #000000;
}

.search-form input {
  font-family: "Opensans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.01em;
  
  background-color: transparent;
  border: none;
}

.search-form input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form input:focus::placeholder {
  color: rgba(0, 0, 0, 1);
}

.search-form input:focus {
  border-bottom: 2px solid #000000;
}

.btn-search {
  font-family: "Opensans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.01em;
  
  background-color: transparent;
  border: 2px solid #000000;
}

.btn-search:hover {
  color: #ffffff;
  
  background-color: #000000;
}

.btn-search:active {
  color: rgba(255, 255, 255, 0.3)
}

.site-navigation {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.submenu {
  font-family: "Opensans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: 0.01em;
  text-transform: none;
}

/*Слайдер*/

.popular-list {
  list-style: none;
}

.popular-list .promo {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.01em;
}

.popular-list .description {
  letter-spacing: 0.01em;
}

.characteristics th {
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.01em;
}

.characteristics td {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.01em;
}

/*Каталог товаров*/

.catalog-list {
  list-style: none;
}

.catalog-item h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.01em;
}

/*Сервисы*/

.service-toggle {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.2em;
}

.service-touch-btn h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.01em;
}

.service-touch-btn p {
  letter-spacing: 0.01em;
}

/*О нас и Контакты*/

.about-us h2,
.contacts h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.01em;
}

.about-us p,
.contacts p {
  letter-spacing: 0.01em;
}

.about-us ul {
  list-style: none;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0;
}

/* Подвал */

.main-footer {
  color: #ffffff;

  background-color: #464646;
}

.main-footer ul {
  list-style: none;
}

.main-footer a {
  color: #ffffff;
}

.main-footer a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.main-footer a:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-footer .main-footer-logo {
  color: #ffc600;
}

.main-footer .main-footer-logo:hover {
  color: rgba(255, 198, 0, 0.6);
}

.main-footer .main-footer-logo:active {
  color: rgba(255, 198, 0, 0.3);
}

.user-navigation-footer a,
.user-block-footer a {
  line-height: 36px;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0.01em;
}

.user-navigation-footer a:hover,
.user-block-footer a:hover {
  color: #ffffff;
}

.user-navigation-footer a:active,
.user-block-footer a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-row-middle address,
 .footer-row-middle .phone {
  line-height: 30px;
  font-style: normal;
  letter-spacing: 0;
}

/*Форма записи*/

.modal-write-us input,
.modal-write-us textarea {
  background-color: #f2f2f2;
  
  border: none;
}

.modal-write-us input:hover,
.modal-write-us textarea:hover {
  background-color: #eaeaea;
  background-image: url("../img/bg-form-hover.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.modal-write-us input:focus,
.modal-write-us textarea:focus {
  background-color: #ffffff;
  
  border: 3px solid #f7e296;
}

.modal-write-us input:invalid {
  background-color: #f6dada;
  
  border: none;
}

.modal-write-us label {
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0;
}

.modal-write-us input:placeholder,
.modal-write-us textarea:placeholder {
  font-family: "Opensans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: red;
  letter-spacing: 0;
}

.modal-write-us .btn {
  border: none;
  background-color: #ffffff;
}

.page-title {
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.3);
}

.filters {
  color: #000000;

  background-color: #efefef;
  background-image: url("../img/bg-filters.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.filters h2,
.sorting h2 {
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.filters h2 {
  background-color: #dcdcdc;
  background-image: url("../img/bg-title-filters.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}


.filter fieldset {
  border: none;
}

.filter legend {
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.filter ul {
  list-style: none;
  
  font-family: "Opensanslight", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
}

.sorting {
  font-family: "Opensans", Arial, sans-serif;
  font-size: 14px;
  color: #000000;
  line-height: 18px;
  letter-spacing: 0;
  
  background-color: #ebebeb;
}

.sorting ul {
  list-style: none;
}

.sorting a:not(.current) {
  color: rgba(0, 0, 0, 0.3);
}

.sorting a:hover,
.sorting a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting a:active {
  color: rgba(0, 0, 0, 1);
}

.catalog-list {
  list-style: none;
}

.catalog-list a {
  color: #000000;
}

.catalog-item h3 {
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.catalog-item b {
  font-family: "Gilroylight", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.catalog-item img {
  background-color: #efefef;
  background-image: url("../img/bg-filters.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.catalog-item .button-compare {
  font-size: 13px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.5);
}

.catalog-item .button-compare:hover,
.catalog-item .button-compare:focus {
  color: rgba(0, 0, 0, 1);
}

.catalog-item .button-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.pagination-list {
  list-style: none;
  
  background-color: #ebebeb;
}

.pagination-item a {
  font-family: "Gilroyextrabold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination-item-number a {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item-number  a:hover,
.pagination-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item-number  a:active {
  color: rgba(0, 0, 0, 1);
}

.pagination-item-word a:hover,
.pagination-item-word a:focus {
  background-color: #d9d9d9;
}

.pagination-item-word a:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d9d9d9;
}

.pagination-item-current a {
  color: #000000;

  background-color: #ebebeb;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;

  background-color: #ebebeb;;
}











