@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Opensans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Opensans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;

  background-color: #ffffff;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  font-family: "Opensans", Arial, sans-serif;
  color: #464646;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  display: inline-block;
  padding: 10px 39px;
  position: relative;
  z-index: 10;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}

.btn::before {
  content: "";

  position: absolute;
  top: 40%;
  left: 0;
  z-index: -1;

  display: inline-block;
  width: 100%;
  height: 8px;

  background-color: #f0c52e;

  transition: transform 0.2s linear;
}

.btn:hover::before,
.btn:focus::before {
  transform: scale(1, 5.5);
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header {
  min-height: 265px;
  margin-top: 40px;
}

.user-navigation-header,
.user-block-header,
.header-navigation,
.submenu {
  margin: 0;
  padding: 0;
}

.main-navigation {
  position: relative;

  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  min-height: 298px;
  margin: 0;
  padding: 0;
  padding: 0 60px;

  color: #000000;

  background-color: #f7e296;;;
}

header.inner-page {
  min-height: 50px;
  margin-bottom: 37px;
}

header.inner-page .main-navigation {
  min-height: 185px;
}

.main-navigation ul {
  list-style: none;
}

.main-navigation a {
  color: #000000;
}

.main-navigation a[href]:hover,
.main-navigation a[href]:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-navigation a[href]:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-logo {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 48px;
  /*letter-spacing: 0.1em;*/
  text-transform: uppercase;
}

.main-header-logo {
  margin-top: -25px;
  margin-bottom: 9px;

  color: #000000;
}

.header-row-top {
  display: flex;
  justify-content: space-between;

  margin-bottom: 30px;
}

.search-form {
  position: relative;

  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 440px;
  height: 50px;
  margin: 0;
  padding: 0;
}

.search-form::before {
  content: url("../img/search.svg");

  position: absolute;
  top: 13px;
  left: 4px;
}

.search-form input {
  width: 100%;
  padding-left: 39px;

  font-family: "Opensans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #000000;
  letter-spacing: 0.01em;

  background-color: transparent;
  border: none;
}

.search-form input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form input:focus::placeholder {
  color: rgba(0, 0, 0, 1);
}

.search-form input:focus {
  border-bottom: 2px solid #000000;
}

.search-form .btn-search {
  display: none;
  width: 85px;
  min-height: 50px;

  font-family: "Opensans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #000000;
  letter-spacing: 0.01em;

  background-color: transparent;
  border: 2px solid #000000;
}

.search-form .btn-search:hover {
  color: #ffffff;

  background-color: #000000;
}

.search-form .btn-search:active {
  color: rgba(255, 255, 255, 0.3)
}

.search-form .btn-search:active,
.search-form input:focus+.btn-search {
  display: block;
}

.user-box {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  width: 500px;
}

.user-navigation {
  display: flex;
  margin: 0;
  padding: 0;
}

.user-navigation li {
  margin-right: 20px;
}

.user-navigation li:last-child {
  margin-right: -20px;
}

.user-navigation .login-link {
  position: relative;
  padding-left: 28px;
}

.login-link::before {
  content: url("../img/user.svg");

  position: absolute;
  top: -5px;
  left: 1px;
}

.login-link:hover::before,
.login-link:focus::before {
  opacity: 0.6;
}

.login-link:active::before {
  opacity: 0.3;
}

.user-block {
  display: flex;
}

.user-block li:first-child {
  margin-right: 37px;
}

.user-block .compare {
  position: relative;

  padding-left: 21px;
}

.user-block-header .compare::before {
  content: url("../img/compare.svg");

  position: absolute;
  top: -5px;
  left: 1px;
}

.compare:hover::before,
.compare:focus::before {
  opacity: 0.6;
}

.compare:active::before {
  opacity: 0.3;
}

.user-block-header .basket {
  position: relative;
  padding-left: 27px;
  margin-right: 0.01em;
}

.user-block-header .basket::before {
  content: url("../img/cart.svg");

  position: absolute;
  top: -5px;
  left: 4px;
}

.basket:hover::before,
.basket:focus::before {
  opacity: 0.6;
}

.basket:active::before {
  opacity: 0.3;
}

.site-navigation {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.header-navigation {
  position: relative;

  display: flex;
  justify-content: space-between;
}

.header-navigation li {
  margin: 0;
  padding: 0;
}

.header-navigation>li:nth-child(2) {
  margin-left: 293px;
}

.header-navigation>li:nth-child(3) {
  margin-left: auto;
  margin-right: 107px;
}

.header-navigation>li:last-child {
  margin-right: -0.2em;
}

.header-navigation>li:first-child {
  position: relative;
  padding-right: 28px;
}

.header-navigation>li:first-child::after {
  content: url("../img/plus.svg");

  position: absolute;
  top: 1px;
  right: 0;

  opacity: 0.3;
}

.header-navigation>li {
  position: relative;
}

.header-navigation .submenu {
  position: absolute;
  left: -60px;
  z-index: 7;

  display: none;
  min-width: 1160px;
  height: 162px;
  margin: 0;
  padding: 0;
  padding-left: 60px;
  padding-top: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-family: "Opensans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: 0.01em;
  text-transform: none;

  background-color: #f7e296;
}

.header-navigation li:hover .submenu {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}

.submenu li {
  width: 200px;
}

.submenu li:nth-child(-n+3) {
  margin-right: 40px;
}

.submenu li:nth-child(3) {
  margin-bottom: 10px;
}

.submenu li:last-child {
  padding-bottom: 40px;
}

.popular {
  position: relative;

  margin-top: -111px;
  margin-bottom: 105px;
}

.popular-toggle {
  position: absolute;

  right: 84px;
  bottom: 139px;
}

.popular label {
  position: relative;
  z-index: 10;

  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 19px;

  border-radius: 50%;
  box-shadow: 0px 0px 0px 1px #000000;

  cursor: pointer;
}

.popular label::before {
  content: "";

  position: absolute;
  top: 3.5px;
  left: 3.8px;

  display: none;
  width: 3px;
  height: 3px;

  border-radius: 50%;
  box-shadow: 0px 0px 0px 1px #000000;
}

.popular-btn-1:checked~.popular-toggle label[for=popular-btn-1]::before,
.popular-btn-2:checked~.popular-toggle label[for=popular-btn-2]::before,
.popular-btn-3:checked~.popular-toggle label[for=popular-btn-3]::before {
  display: block;
}

.popular-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.popular-item:not(.slider-first) {
  display: none;
}

.popular-item {
  position: relative;

  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}

.popular-item::before {
  position: absolute;
  top: -15px;
  right: 45px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 179px;
  line-height: 179px;
  font-weight: 800;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #ffffff;
}

.slider-first::before {
  content: "01";
}

.slider-second::before {
  content: "02";
}

.slider-third::before {
  content: "03";
}

.popular-item img {
  z-index: 5;

  margin: auto;
}

.slider-first img {
  margin-right: 85px;
}

.slider-second img {
  margin-bottom: -13px;
  margin-top: 14px;
  margin-right: 98px;
}

.slider-third img {
  margin-top: 65px;
  margin-right: 2px;
  margin-bottom: 86px;
}

.main-description {
  position: relative;
  z-index: 5;

  width: 510px;
  margin-right: 50px;
  margin-left: 40px;
}

.main-description::after {
  content: "";

  position: absolute;
  top: 37px;
  left: 0;

  width: 100px;
  height: 7px;

  background-color: #ffffff;
}

.main-description p {
  margin: 0;
  padding: 0;
}

.main-description .promo {
  margin-bottom: 19px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.01em;
  padding-top: 79px;
}

.main-description .description {
  margin-bottom: 43px;

  letter-spacing: 0.01em;
}

.slider-first .description {
  width: 485px;
}

.slider-second .description {
  width: 445px;
}

.slider-third .description {
  width: 460px;
}

.main-description .btn {
  margin-bottom: 45px;
  padding-right: 41px;
  padding-left: 44px;
}

.main-description .characteristics {
  margin: 0;
  padding: 0;
}

.characteristics td {
  padding-right: 74px;
  padding-bottom: 6px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.01em;
}

.characteristics th {
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.01em;
}

.slider-third td {
  padding-right: 55px;
}

.categories {
  margin-bottom: 178px;
}

.categories-list {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.categories-item h3 {
  margin: 0;
  padding: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.01em;
}

.categories-link {
  display: inline-block;
  width: 160px;
}

.categories-link::before {
  content: "";

  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 35px;

  background-color: #f7e296;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.virtual-reality::before {
  background-image: url("../img/virtual-reality.svg");
}

.monopods::before {
  background-image: url("../img/monopods.svg");
  background-position: 50% 100%;
}

.action-cameras::before {
  background-image: url("../img/action-cameras.svg");
}

.fitness-trackers::before {
  background-image: url("../img/fitness-trackers.svg");
}

.smart-watch::before {
  background-image: url("../img/smart-watch.svg");
}

.quadcopters::before {
  background-image: url("../img/quadcopters.svg");
}

.categories-link:hover::before,
.categories-link:focus::before {
  background-color: #f0c52e;
}

.categories-link:active h3 {
  color: rgba(0, 0, 0, 0.3);
}

.virtual-reality:active::before {
  background-image: url("../img/virtual-reality-opacity.svg");
}

.monopods:active::before {
  background-image: url("../img/monopods-opacity.svg");
  background-position: 50% 100%;
}

.action-cameras:active::before {
  background-image: url("../img/action-cameras-opacity.svg");
}

.fitness-trackers:active::before {
  background-image: url("../img/fitness-trackers-opacity.svg");
}

.smart-watch:active::before {
  background-image: url("../img/smart-watch-opacity.svg");
}

.quadcopters:active::before {
  background-image: url("../img/quadcopters-opacity.svg");
}

.services {
  width: 100%;
  min-height: 288px;
  margin-bottom: 94px;

  background-color: #e5e5e5;
}

.services-container {
  position: relative;

  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  width: 1160px;
  margin: 0 auto;
}

.services-container::after {
  content: "";

  position: absolute;
  top: -100px;
  left: 278px;

  width: 7px;
  min-height: 319px;

  background-color: #000000;
}

.service-toggle {
  position: relative;
  top: -21px;
  z-index: 1;

  width: 283px;
  margin-right: 116px;
  padding-left: 2px;
}

.service-toggle label {
  position: relative;

  display: block;
  width: 160px;
  padding: 10px 0;
  margin-bottom: 20px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;

  cursor: pointer;
}

.service-toggle label::after {
  content: "";

  position: absolute;
  top: 16px;
  left: 0;
  z-index: -1;

  width: 160px;
  height: 8px;

  background-color: #f0c52e;

  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.service-toggle label:hover::after {
  top: 0;

  height: 100%;

  background-color: #f0c52e;
}

.services-btn-1:checked~.service-toggle label[for=service-1],
.services-btn-2:checked~.service-toggle label[for=service-2],
.services-btn-3:checked~.service-toggle label[for=service-3] {
  color: #f7e184;
}

.services-btn-1:checked~.service-toggle label[for=service-1]::after,
.services-btn-2:checked~.service-toggle label[for=service-2]::after,
.services-btn-3:checked~.service-toggle label[for=service-3]::after {
  top: 0;

  height: 100%;
  width: 280px;

  background-color: #000000;
}

.service-touch-btn {
  position: relative;

  display: none;
}

.services-btn-1:checked~.service-block-description .delivery,
.services-btn-2:checked~.service-block-description .warranty,
.services-btn-3:checked~.service-block-description .credit {
  display: block;
}

.service-touch-btn h3 {
  position: absolute;

  top: -125px;
  left: 3px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.01em;
}

.service-touch-btn p {
  width: 430px;
  margin: 0;
  margin-top: 52px;
  letter-spacing: 0.01em;
  padding: 0;
}

.delivery::after {
  content: url("../img/delivery.png");

  position: absolute;
  top: -67px;
  right: -264px;
}

.warranty::after {
  content: url("../img/warranty.png");

  position: absolute;
  top: -92px;
  right: -284px;
}

.credit::after {
  content: url("../img/credit.png");

  position: absolute;
  top: -87px;
  right: -260px;
}

.partners {
  margin-bottom: 145px;
}

.partners-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.partners-item {
  width: 260px;
  height: 100px;
}

.partners-item:hover .image-filter {
  filter: none;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 79px;
}

.index-columns h2 {
  margin: 0;
  margin-bottom: 43px;
  padding: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.01em;
}

.index-columns p {
  margin: 0;
  margin-bottom: 31px;

  letter-spacing: 0.01em;
}

.transport-companies {
  position: relative;

  margin: 0;
  padding: 0;
  padding-left: 36px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0;

  list-style: none;
  margin-top: 66px;
}

.transport-companies li:before {
  content: "";

  position: absolute;
  left: 2px;

  width: 8px;
  height: 8px;

  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 2px #e5e5e5;
}

.transport-companies li:first-child:before {
  top: 17px;
}

.transport-companies li:nth-child(2):before {
  top: 58px;
}

.transport-companies li:last-child:before {
  top: 96px;
}

.about-us {
  position: relative;

  width: 560px;
}

.about-us::before {
  content: "";

  position: absolute;
  top: -52px;
  left: 0px;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.about-us p {
  width: 485px;
}

.contacts {
  position: relative;

  width: 560px;
}

.contacts::before {
  content: "";

  position: absolute;
  top: -52px;
  left: 0px;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.index-columns img {
  margin-top: 8px;
}

.about-us .btn {
  margin-top: 53px;
  padding-right: 20px;
  padding-left: 23px;
}

.contacts .btn {
  margin-top: 60px;
  padding-right: 38px;
  padding-left: 41px;
}

.page-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding: 0 60px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.01em;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  padding: 0 60px;
  margin: 0;
  margin-bottom: 44px;

  list-style: none;
}

.breadcrumbs li {
  margin-right: 40px;
}

.breadcrumbs a {
  position: relative;

  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.01em;
}

.breadcrumbs a:before, 
.breadcrumbs a:after {
  content:'';
  
  position: absolute;
  right: -19px;
  
  display: block;
  width: 4px;
  height: 1px;
  
  background-color: #000000;   
}

.breadcrumbs a:before {
  top: 10px;

  transform: rotate(225deg);
}

.breadcrumbs a:after {
  top: 12px;
    
  transform: rotate(-45deg);
}

.breadcrumbs-current a:before, 
.breadcrumbs-current a:after {
  display: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.catalog-page {
  width: 100%;

  background: -webkit-gradient(linear, left top, right top, from(#dcdcdc), color-stop(33.5%, #dcdcdc), color-stop(33.5%, #ebebeb), to(#ebebeb));
  background: -webkit-linear-gradient(left, #dcdcdc 0%, #dcdcdc 33.5%, #ebebeb 33.5%, #ebebeb 100%);
  background: -o-linear-gradient(left, #dcdcdc 0%, #dcdcdc 33.5%, #ebebeb 33.5%, #ebebeb 100%);
  background: linear-gradient(to right, #dcdcdc 0%, #dcdcdc 33.5%, #ebebeb 33.5%, #ebebeb 100%);
}

.catalog-body {
  width: 100%;

  background: -webkit-gradient(linear, left top, right top, from(#eee), color-stop(33.5%, #eee), color-stop(33.5%, #fff), to(#fff));
  background: -webkit-linear-gradient(left, #eee 0%, #eee 33.5%, #fff 33.5%, #fff 100%);
  background: -o-linear-gradient(left, #eee 0%, #eee 33.5%, #fff 33.5%, #fff 100%);
  background: linear-gradient(to right, #eee 0%, #eee 33.5%, #fff 33.5%, #fff 100%);
}

.catalog-page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  min-height: 70px;
}

.catalog-body-filter,
.filter,
.sorting {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.catalog-body-filter {
  width: 330px;
  padding-top: 70px;
  padding-right: 67px;
  padding-left: 60px;

  color: #000000;

  background-color: #efefef;
  background-image: url("../img/bg-filters.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.filter {
  width: 330px;
  padding-top: 10px;
  padding-left: 62px;

  background-color: #dcdcdc;
  background-image: url("../img/bg-title-filters.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.filter h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.filter-form fieldset {
  position: relative;

  padding: 0;
  margin: 0;
  margin-bottom: 11px;

  border: none;
}

.filter-form legend {
  width: 100%;
  margin-bottom: 30px;
  padding-top: 10px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.01em;
  border-top: 2px solid #000000;
}

.range-filter {
  width: 200px;
  margin-top: 4px;
}

.range-controls {
  position: relative;

  margin-bottom: 8px;
}

.range-controls .scale {
  height: 2px;

  background-color: #dbdbdb;
}

.range-controls .bar {
  width: 54%;
  height: 2px;

  background-color: #91c92f;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 54%;
}

.price-controls {
  margin-bottom: 20px;

  font-size: 0;
}

.price-controls label {
  display: inline-block;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  vertical-align: top;
  color: rgba(0, 0, 0, 0.2);

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background-color: transparent;
  border: none;
}

.filter-form ul {
  margin: 0;
  margin-top: -13px;
  margin-bottom: 20px;
  padding: 0;

  list-style: none;

  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.01em;
}

.filter-option {
  padding-left: 39px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox+label::before {
  content: url("../img/checkbox-off.svg");

  position: absolute;
  left: -40px;
  top: 6px;
}

.filter-input-checkbox:checked+label::after {
  content: url("../img/checkbox-on.svg");

  position: absolute;
  left: -40px;
  top: 5px;
}

.filter-input-radio + label::before {
  content: url("../img/radio-off.svg");

  position: absolute;
  left: -40px;
  top: 5px;
}

.filter-input-radio:checked + label::after {
  content: url("../img/radio-on.svg");

  position: absolute;
  left: -40px;
  top: 6px;
}

.filter-input:hover + label::before,
.filter-input:hover + label::after,
.filter-input:focus + label::before,
.filter-input:focus + label::after {
  opacity: 0.6;
}

.filter-input:active + label::before,
.filter-input:active + label::after {
  opacity: 1;
}

.filter-input:disabled + label {
  color: #a6a6a6;

  opacity: 0.25;
}


.filter-input:hover + label::before,
.filter-input:hover + label::after,
.filter-input:focus + label::before,
.filter-input:focus + label::after {
  opacity: 0.6;
}


.filter-input:active + label::before,
.filter-input:active + label::after {
  opacity: 1;
}


.filter-input:disabled + label {
  color: #a6a6a6;
  opacity: 0.25;
}


.filter-form .btn {
  border: none;
  background-color: transparent;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 832px;
  padding: 0 0 0 75px;

  font-family: "Opensans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;

  background-color: #ebebeb;
}

.sorting ul {
  list-style: none;
}

.sorting h2 {
  margin-right: 52px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.sorting a:not(.current) {
  color: rgba(0, 0, 0, 0.3);
}

.sorting a:hover,
.sorting a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting a:active {
  color: rgba(0, 0, 0, 1);
}

.sorting-type-list {
  display: flex;
  margin: 0;
  margin-right: auto;
  padding: 0;
}

.sorting-type-item {
  margin-right: 30px;
}

.sorting-direction-list {
  position: relative;

  display: flex;
  width: 60px;
  margin: 0;
  padding: 0;
}

.sorting-direction-list .current {
  margin-left: 20px;
}

.sorting-btn-up::before {
  content: url("../img/icon-up-dir.svg");

  position: absolute;
  top: 0;
  right: 28px;
}

.sorting-btn-down::before {
  content: url("../img/icon-down-dir.svg");
  
  position: absolute;
  top: 0;
  right: 0;
}

.sorting-direction-item[href]:hover::before,
.sorting-direction-item[href]:focus::before {
  opacity: 0.4;
}

.sorting-direction-item[href]:active::before {
  opacity: 1;
}

.catalog {
  width: 832px;
  padding: 0;
  padding-top: 70px;
  padding-left: 73px;
}

.catalog-list {
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0px;
  margin-bottom: -10px;
  padding: 0;

  list-style: none;
}

.catalog-item {
  position: relative;

  width: 360px;
  margin-right: 40px;
  margin-bottom: 45px;
  padding: 0;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item-hover {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -98%);

  display: none;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  width: 210px;
  min-height: 75px;
}

.catalog-item:hover .catalog-item-hover {
  display: flex;
}

.catalog-item:hover img {
  opacity: 0.7;
}

.catalog-list a {
  color: #000000;
}

.catalog-item figure {
  margin: 0;
  padding: 0;

  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.catalog-item figcaption {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-top: 33px;
}

.catalog-item h3 {
  width: 260px;
  margin: 0;
  padding: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.01em;
}

.catalog-item b {
  width: 80px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.01em;
  text-align: right;
}

.catalog-item img {
  width: 360px;
  height: 380px;
  margin: 0;

  background-color: #efefef;
  background-image: url("../img/bg-filters.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.catalog-item .button-compare {
  position: absolute;
  top: 47px;
  left: 36px;

  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.5);
}

.catalog-item .button-compare:hover,
.catalog-item .button-compare:focus {
  color: rgba(0, 0, 0, 1);
}

.catalog-item .button-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.catalog-item-new::before {
  content: "New";
  
  position: absolute;
  top: 28px;
  right: 25px;
  
  display: inline-block;
  width: 56px;
  height: 56px;
  
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 56px;
  font-weight: 800;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  text-align: center;
  vertical-align: middle;
  
  border: 2px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.pagination-list {
  display: flex;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
  min-height: 70px;
  height: 30px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 77px;

  background-color: #ebebeb;

  list-style: none;
}

.pagination-item {
  margin: auto 0;
}

.pagination-item-number {
  margin-right: 28px;
}

.pagination-item-back {
  width: 96px;
  padding-left: 31px;
  margin-right: 212px;
}

.pagination-item-next {
  width: 105px;
  margin-left: 169px;
  padding-left: 31px;
}

.pagination-item-next a {
  margin-right: -10px;
}


.pagination-item a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination-item-number a {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item-number a:hover,
.pagination-item a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item-number a:active {
  color: rgba(0, 0, 0, 1);
}

.pagination-item-word {
  min-height: 50px;
  padding-top: 19px;
}

.pagination-item-word:hover,
.pagination-item-word:focus {
  background-color: #d9d9d9;
}

.pagination-item-word:active {
  background-color: rgba(0, 0, 0, 0.08);
}

.pagination-item-word a:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d9d9d9;
}

.pagination-item-current a {
  color: #000000;

  background-color: #ebebeb;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;

  background-color: #ebebeb;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal {
  position: fixed;
  z-index: 100;

  display: none;

  color: #000000;

  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
}

.modal-show {
  display: block;

  animation: fadeIn 0.6s;
}

.modal-write-us {
  left: 50%;
  top: 50%;
  /*top: 1331px;*/
  transform: translate(-50%, -50%);

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 960px;
  min-height: 550px;
  padding-top: 76px;
  padding-left: 101px;
  
  background-color: #ffffff;
}

.modal-map {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 994px;
  height: 593px;
}

.modal-map iframe {
  position: relative;
  z-index: 2;

  border: none;
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}

.modal-close {
  position: absolute;
  top: 22px;
  right: 21px;
  z-index: 10;

  width: 55px;
  height: 55px;

  font-size: 0;

  background-color: #f0c52e;
  border: 0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  opacity: 0.5;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 26px;
  left: 13px;

  width: 29px;
  height: 2px;

  background-color: #ffffff;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.write-us-form-wrapper {
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.write-us-form-wrapper p {
  width: 360px;
  margin-bottom: 25px;;
}

.write-us-form-wrapper p:first-child {
  margin-right: 40px;
}

.write-us-form-wrapper p:last-child,
.write-us-form-wrapper textarea {
  width: 739px;
  height: 140px;
  margin-top: 4px;
  margin-bottom: 89px;
}

.write-us-form-wrapper textarea {
  padding-top: 10px;
}

.modal-write-us input {
  width: 338px;
  min-height: 43px;
  margin-top: 3px;
}

.modal-write-us input,
.modal-write-us textarea {
  padding-left: 16px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  background-color: #f2f2f2;
  border: 3px solid transparent;
}

.modal-write-us input:hover,
.modal-write-us textarea:hover {
  background-color: #eaeaea;
  background-image: url("../img/bg-form-hover.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.modal-write-us input:focus,
.modal-write-us textarea:focus {
  background-color: #ffffff;
  border-color: #f7e296;
  outline: none;
}

.modal-write-us input:invalid {
  background-color: #f6dada;
  border: none;
}

.modal-write-us label {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.modal-write-us .btn {
  padding-left: 34px;
  padding-right: 34px;

  border: none;
  background-color: #ffffff;
}

.main-footer {
  padding: 55px 0;

  color: #ffffff;

  background-color: #464646;
}

.main-footer ul {
  list-style: none;
}

.main-footer a {
  color: #ffffff;
}

.main-footer a[href]:hover,
.main-footer a[href]:focus {
  color: rgba(255, 255, 255, 0.6);
}

.main-footer a[href]:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-footer .container {
  display: flex;
  flex-direction: column;
}

.main-footer .main-footer-logo {
  color: #ffc600;
}

.main-footer .main-footer-logo[href]:hover,
.main-footer .main-footer-logo[href]:focus {
  color: rgba(255, 198, 0, 0.6);
}

.main-footer .main-footer-logo[href]:active {
  color: rgba(255, 198, 0, 0.3);
}

.user-navigation-footer a,
.user-block-footer a {
  line-height: 36px;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0.01em;
}

.user-navigation-footer a:hover,
.user-block-footer a:hover {
  color: #ffffff;
}

.user-navigation-footer a:active,
.user-block-footer a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-row-middle address,
.footer-row-middle .phone {
  line-height: 30px;
  font-style: normal;
  letter-spacing: 0;
}

.user-navigation-footer {
  margin-left: auto;
  margin-right: 65px;
}

.user-navigation-footer .login-link::before {
  content: url("../img/user-footer.svg");

  position: absolute;
  top: -7px;
  left: 2px;
}

.user-block-footer {
  margin: 0;
  padding: 0;
}

.user-block-footer .compare {
  position: relative;

  padding-left: 19px;
}

.user-block-footer .compare::before {
  content: url("../img/compare-footer.svg");

  position: absolute;
  top: -7px;
  left: -1px;
}

.user-block-footer .basket {
  position: relative;
  padding-left: 24px;
  margin-right: 0.01em;
}

.user-block-footer .basket::before {
  content: url("../img/cart-footer.svg");

  position: absolute;
  top: -7px;
  left: 4px;
}

.footer-navigation {
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 448px;
  margin: 0;
  padding: 0;
  padding-top: 7px;
  margin-right: 31px;
}

.footer-navigation li {
  width: 140px;
  margin-right: 0.2em;
  text-align: center;
}

.footer-navigation li:nth-child(3n-1) {
  margin: 0 10px;
}

.footer-row {
  display: flex;
  justify-content: space-between;
}

.footer-row-top {
  margin-top: 4px;
  margin-bottom: 22px;
}

.footer-row-middle {
  -webkit-align-items: center;
          align-items: center;
  margin-bottom: 64px;
}

.footer-row-bottom {
  position: relative;

  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 23px;
}

.footer-row-bottom::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 1px;

  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.footer-social {
  display: flex;
  margin: 0;
  padding: 0;
}

.btn-social {
  position: relative;

  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 23px;
}

.btn-social::before {
  content: "";

  position: absolute;

  width: 32px;
  height: 32px;

  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.btn-social-fb::before {
  background-image: url("../img/fb.svg");
}

.btn-social-in::before {
  background-image: url("../img/in.svg");
}

.btn-social-tw::before {
  background-image: url("../img/tw.svg");
}

.btn-social:hover::before,
.btn-social:focus::before {
  opacity: 0.6;
}

.btn-social:active::before {
  opacity: 0.1;
}

.footer-copyright a::before {
  content: url("../img/logo-html.svg");

  position: absolute;
  top: -2px;
  
  margin-left: 460px;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  opacity: 0.6;
}

.footer-copyright a:active {
  opacity: 0.3;
}
